<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.dreamtechprojects.threadingnothreading">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.MAIN" />
                <category android:name="ANDROID.INTENT.CATEGORY.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Threading">

        </activity>

        <activity android:name=".NoThreading">

        </activity>

    </application>

</manifest>
